<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                <img src='udacity.png' alt='Logo'>
            </div>
            <div class="">
                Navigation
            </div>
        </header>

        <main>
            <section id="color-container">
                Choose a theme color: 
                <input type="color" id="choose-theme-color">
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <P>Please Enter Your Name:</P>
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name!">
                    <P>Here Enter the text for Natural Language Processing NLP:</P>
                    <input id="form" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter your text here!">
                    <button type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            document.documentElement.style.setProperty("--mainColor", localStorage.getItem("userThemeColor"));
            let colorInput = document.querySelector("#choose-theme-color");
                
            colorInput.addEventListener("change", function() {
                
            // Theme the site!
            document.documentElement.style.setProperty("--mainColor", this.value);
            
            // Save the value for next time page is visited.
            localStorage.setItem("userThemeColor", this.value);
                
            });
        </script>
    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
    </script>
</html>
